.whatsapp {
  color: green !important; }

.instagram {
  color: #4b0032 !important; }

.facebook {
  color: blue !important; }

/*EMPIEZA EL INDEX*/
.container-index {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: .2fr .2fr 1fr .1fr 0.1fr;
  gap: 0px 0px;
  height: 98vh;
  grid-template-areas: "header" "title" "main" "footer" "footer-1"; }
  .container-index .header {
    grid-area: header; }
  .container-index .title {
    grid-area: title; }
  .container-index .main {
    grid-area: main;
    display: flex;
    justify-content: center;
    height: 500px; }
  .container-index .footer {
    grid-area: footer;
    color: aliceblue;
    display: flex;
    justify-content: flex-end; }
    .container-index .footer .footer-wsp {
      margin-right: 1.2rem;
      font-size: 5rem;
      text-decoration: none;
      color: aliceblue; }
      .container-index .footer .footer-wsp:hover {
        color: green; }
  .container-index .footer-1 {
    grid-area: footer-1;
    color: aliceblue;
    display: flex;
    justify-content: center; }

a {
  font-size: 1.2rem; }

ul {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 5px; }

li {
  list-style: none;
  width: 25%;
  height: 4rem;
  margin: .1rem;
  text-align: center; }

.logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 31.25rem;
  width: 31.25rem; }

/* TERMINA EL INDEX */
/* EMPIEZA MEDIA TABLET INDEX */
/* INDEX */
@media (max-width: 1023px) {
  .container-index {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr .2fr 1fr .1fr 0.1fr;
    gap: 0px 0px;
    height: 98vh;
    grid-template-areas: "header" "title" "main" "footer" "footer-1"; }
  a {
    font-size: 1rem; }
  ul {
    width: 800px;
    padding: 0; }
  li {
    width: 250px;
    margin: 5px;
    padding: 5px; }
  .main {
    height: 600px; }
  main div img {
    height: 28,12rem;
    width: auto; }
  .logo {
    align-items: center; } }

/* TERMINA MEDIA TABLET INDEX */
/* EMPIEZA MEDIA CELULAR INDEX */
@media (max-width: 500px) {
  .container-index {
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 1fr .1fr 0.1fr;
    gap: 0px 0px;
    height: 98vh;
    grid-template-areas: "header" "main" "footer" "footer-1"; }
  body {
    background-image: none; }
  .fondo {
    background: linear-gradient(to bottom, #000, grey); }
  a {
    font-size: .8rem; }
  ul {
    margin: 5px;
    width: 470px;
    padding: 5px; }
  main div img {
    height: 25rem; }
  .footer {
    height: 5rem; }
  small {
    display: flex;
    align-items: center; } }

/* TERMINA MEDIA CELULAR INDEX */
/* EMPIEZA LA BABERIA Y EQUIPO */
.container-barberia {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.1fr 3fr 1fr;
  gap: 0px 0px;
  height: 100vh;
  margin: 0;
  grid-auto-flow: row;
  grid-template-areas: "grid-heard-nav " "grid-title-labarberia " "grid-main-labarberia" "grid-footer-labarberia"; }
  .container-barberia .grid-title-labarberia {
    grid-area: grid-title-labarberia;
    color: #fff;
    text-align: center;
    font-family: 'absolute';
    margin: 5px; }
  .container-barberia .grid-main-labarberia {
    grid-area: grid-main-labarberia;
    margin: 1rem 0rem; }
  .container-barberia .grid-foto-labarberia {
    height: 34.3rem;
    width: 50rem;
    margin: 0rem 2rem; }
  .container-barberia .grid-texto-labarberia {
    float: right;
    font-size: 1.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    color: black; }
    .container-barberia .grid-texto-labarberia .btn {
      border: none;
      border-radius: 10px;
      background: #dd9e16;
      margin: 5px;
      color: #000; }
      .container-barberia .grid-texto-labarberia .btn:hover {
        color: white;
        background-color: black; }

.grid-footer1 {
  display: flex;
  justify-content: center; }

.redes {
  display: flex;
  float: right;
  margin: 5px; }

/* TERMINA LA BABERIA */
/* EMPIEZA MEDIA TABLET BARBERIA */
@media (max-width: 1023px) {
  .container-barberia {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.1fr 3fr 1fr;
    gap: 0px 0px;
    margin: 0;
    grid-auto-flow: row;
    grid-template-areas: "grid-heard-nav " "grid-title-labarberia " "grid-main-labarberia" "grid-footer-labarberia "; }
  .grid-heard-nav {
    grid-area: grid-heard-nav;
    display: flex;
    justify-content: center;
    font-family: 'absolute'; }
  a {
    text-decoration: none;
    color: #fff; }
  ul {
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 5px; }
  li {
    list-style: none;
    font-size: 23px;
    width: 200px;
    margin: 1px;
    text-align: center; }
  .grid-title-labarberia {
    color: #fff;
    text-align: center;
    font-family: 'absolute'; }
  .grid-foto-labarberia {
    height: 15.6rem;
    width: 20rem;
    margin: 10px 20px; }
  .grid-main-labarberia {
    height: auto; }
    .grid-main-labarberia .grid-texto-labarberia {
      text-align: center;
      width: 100%;
      color: black; }
  .grid-footer1 {
    display: flex;
    justify-content: center; } }

/* TERMINA MEDIA TABLET BARBERIA*/
/* EMPIEZA MEDIA CELULAR BARBERIA*/
@media (max-width: 500px) {
  .container-barberia {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.1fr 3fr 1fr;
    gap: 0px 0px;
    margin: 0;
    grid-auto-flow: row;
    grid-template-areas: "grid-heard-nav " "grid-title-labarberia " "grid-main-labarberia" "grid-footer-labarberia "; }
  .grid-title-labarberia {
    color: #fff;
    text-align: center;
    font-family: 'absolute'; }
  .grid-main-labarberia {
    height: auto; }
    .grid-main-labarberia .grid-texto-labarberia {
      text-align: center;
      width: 100%;
      color: black; }
  .grid-foto-labarberia {
    height: 10rem;
    width: 15rem;
    display: flex;
    margin: auto; }
  .grid-footer-labarberia {
    grid-area: grid-footer-labarberia; } }

/* TERMINA MEDIA CELULAR BARBERIA */
/* EMPIEZA LAS COLECCIONES */
.container-colecciones {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.1fr 2.2fr 1fr;
  gap: 0px 0px;
  margin: 0;
  grid-auto-flow: row;
  grid-template-areas: "grid-heard-nav" "grid-title-colecciones" "grid-main-colecciones" "grid-footer-labarberia "; }
  .container-colecciones .grid-title-colecciones {
    grid-area: grid-title-colecciones;
    color: #fff;
    text-align: center;
    font-family: 'absolute'; }
  .container-colecciones .grid-main-colecciones {
    grid-area: grid-main-colecciones; }
  .container-colecciones .grid-main-imagenes {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: 700px; }
  .container-colecciones .grid-main-imagenes1 {
    height: 600px;
    width: 900px; }

#carouselExampleControls {
  width: 50%; }

.w-100 {
  width: 50%; }

main.grid-main-colecciones {
  display: flex;
  justify-content: center; }

/* TERMINAN LAS COLECCIONES */
/* EMPIEZAN LOS SERVICIOS */
.container-servicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.1fr 2fr 1fr;
  gap: 0px 0px;
  margin: 0;
  grid-auto-flow: row;
  grid-template-areas: "grid-heard-nav" "grid-title-servicios" "grid-main-servicios" "grid-footer-labarberia "; }
  .container-servicios .grid-title-servicios {
    grid-area: grid-title-servicios;
    color: #fff;
    text-align: center;
    font-family: 'absolute'; }
  .container-servicios .grid-main-servicios {
    grid-area: grid-main-servicios;
    height: auto; }
  .container-servicios .grid-main-table {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap; }
    .container-servicios .grid-main-table .card {
      margin: .8rem .9rem;
      height: 500px;
      font-size: 1.5rem;
      font-family: Arial, Helvetica, sans-serif;
      text-align: center;
      color: #252525;
      background: linear-gradient(to bottom, #fff, #222); }
      .container-servicios .grid-main-table .card .card-title {
        background-color: #222;
        border: solid #efefef 1px;
        color: #fff;
        border-radius: 10px; }
      .container-servicios .grid-main-table .card .btn {
        background: #000;
        border: none; }
        .container-servicios .grid-main-table .card .btn:hover {
          background: #efefef;
          color: #000; }

/* TERMINAN LOS SERVICIOS */
/*EMPIEZAN SERVICIOS MEDIA CELULAR*/
@media (max-width: 1023px) {
  .container-servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 2.5fr 1fr;
    gap: 0px 0px;
    margin: 0;
    grid-auto-flow: row;
    grid-template-areas: "grid-heard-nav" "grid-title-servicios" "grid-main-servicios" "grid-footer-labarberia "; } }

@media (max-width: 500px) {
  .container-servicios {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.1fr 2fr 1fr;
    gap: 0px 0px;
    margin: 0;
    grid-auto-flow: row;
    grid-template-areas: "grid-heard-nav" "grid-title-servicios" "grid-main-servicios" "grid-footer-labarberia "; } }

/*TERMINAN SERVICIOS MEDIA CELULAR*/
/* EMPIEZAN LOS CONTACTOS */
.container-contacto {
  display: grid;
  gap: 20px 0px;
  margin: 0;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 0.1fr 2fr 1fr;
  grid-template-areas: "grid-heard-nav" "grid-title-contacto" "grid-main-contacto" "grid-footer-labarberia "; }
  .container-contacto .grid-title-contacto {
    grid-area: grid-title-contacto;
    color: #fff;
    text-align: center;
    font-family: 'absolute'; }
  .container-contacto .grid-main-contacto {
    grid-area: grid-main-contacto;
    display: grid;
    margin: 0 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0fr; }
    .container-contacto .grid-main-contacto .grid-main-iframe {
      grid-area: grid-main-iframe;
      grid-column: 1;
      height: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap; }
      .container-contacto .grid-main-contacto .grid-main-iframe iframe {
        height: 100%;
        width: 100%; }
    .container-contacto .grid-main-contacto .grid-main-contactanos {
      grid-area: grid-main-contactanos;
      grid-column: 2;
      height: 100%;
      background-color: #48e;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; }
      .container-contacto .grid-main-contacto .grid-main-contactanos .contactanos {
        height: 30px;
        margin: 15px;
        font-size: 2rem;
        font-family: 'absolute'; }
      .container-contacto .grid-main-contacto .grid-main-contactanos .contactanos-texto {
        width: auto;
        font-size: 1.1rem;
        margin: 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif; }
    .container-contacto .grid-main-contacto .grid-main-formulario {
      grid-area: grid-main-formulario;
      background-color: #303030;
      grid-column: 3;
      height: 100%;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column; }
      .container-contacto .grid-main-contacto .grid-main-formulario .datos {
        text-align: center;
        font-family: 'absolute';
        color: black; }
      .container-contacto .grid-main-contacto .grid-main-formulario .input {
        display: flex;
        height: 40px;
        width: 80%;
        margin: 5px auto;
        border: none;
        padding: 0;
        background: transparent;
        color: #fff;
        font-size: 20px; }
        .container-contacto .grid-main-contacto .grid-main-formulario .input:hover {
          background: linear-gradient(to bottom, transparent, #fff); }
      .container-contacto .grid-main-contacto .grid-main-formulario .textarea {
        display: flex;
        width: 80%;
        height: 300px;
        background: transparent;
        margin: 5px auto;
        resize: none;
        border: none;
        color: #fff;
        font-size: 20px; }
        .container-contacto .grid-main-contacto .grid-main-formulario .textarea:hover {
          background: linear-gradient(to bottom, transparent, #fff); }
      .container-contacto .grid-main-contacto .grid-main-formulario ::placeholder {
        font-size: 1.5rem;
        color: black; }
      .container-contacto .grid-main-contacto .grid-main-formulario .enviar {
        font-size: 1.5rem;
        display: flex;
        margin: 2px auto;
        color: black;
        border: none;
        background-color: #fffefd; }
        .container-contacto .grid-main-contacto .grid-main-formulario .enviar:hover {
          background-color: black;
          color: #efefef; }

/* TERMINAN LOS CONTACTOS */
/*EMPIEZAN SERVICIOS MEDIA CELULAR*/
@media (max-width: 500px) {
  .container-contacto .grid-main-contacto {
    display: flex;
    flex-direction: column; } }

/* TERMINAN LOS CONTACTOS MEDIA CELULAR*/
/* TODAS LAS PAGES */
.fondonegro {
  background-color: gray;
  margin: 0; }

h1 {
  text-align: center !important;
  font-family: 'absolute' !important;
  font-size: 2rem !important; }

@font-face {
  font-family: 'absolute';
  src: url(../fuentes/aAbsoluteEmpire.ttf); }

.grid-heard-nav {
  background: linear-gradient(to bottom, black, transparent); }

.subrayado {
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size .3s; }
  .subrayado:hover {
    color: #fff;
    background-size: 100% 2px; }

.nav-link {
  color: #fff !important;
  font-family: 'absolute' !important; }

.navbar {
  background: linear-gradient(to top, grey) !important;
  z-index: 100; }

.navbar-collapse {
  justify-content: center !important; }

.navbar-light .navbar-toggler {
  border-color: #fff; }

.pie-pagina {
  width: 100%;
  background-color: #222222; }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 15px 0px; }
    .pie-pagina .grupo-1 .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .pie-pagina .grupo-1 .box figure img {
        width: 20rem;
        height: 15rem; }
    .pie-pagina .grupo-1 .box h2 {
      color: #fff;
      margin-bottom: 25px;
      font-size: 20px; }
    .pie-pagina .grupo-1 .box p {
      color: #efefef;
      margin-bottom: 10px; }
    .pie-pagina .grupo-1 .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      margin-right: 10px;
      background-color: #252525;
      text-align: center;
      transition: all 300ms ease; }
      .pie-pagina .grupo-1 .red-social a:hover {
        color: white !important; }
  .pie-pagina .grupo-2 {
    background-color: #000000;
    padding: 15px 0px;
    text-align: center;
    color: #fff; }

@media screen and (max-width: 768px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

/* TODAS LAS PAGES */
