// LETRAS

$tamaño-h1: 3rem;
$tamaño-texto: 2rem;

// PALETAS DE COLORES

$color-container: gray;
$color-titulos: #fff;
$color-boton: rgb(0, 0, 0);

// MEDIAS

$desktop: 1024px;
$mobile: 500px;

// Maps

$mapredes:(whatsapp: green, instagram:rgb(75, 0, 50), facebook:blue);

@each $red, $color in $mapredes {
    .#{$red}{
        color: $color !important;
    }
}
// Extend


// Mixin

@mixin titulos {
    text-align: center !important;
    font-family: 'absolute' !important;
    font-size: 2rem !important;
}